* {
    font-family: Arial;
    background-color: #383961;
}

h1{
    text-align: center;
    color: white;
}

.general{
    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.popular{
    text-align: right;
    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;

}

.communication{
    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;

}

.title{
    font-size: 25px;

}

