* {
    font-family: Arial;
    background-color: #383961;
}

h1{
    text-align: center;
    color: white;
}

p {
    color: black;
}

#generalSport{
    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;
}

#popularSport{

    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;

}

#communicationSport{
    color: white;
    font-size: 21px;
    margin-top: 100px;
    margin-bottom: 70px;

}

#titleSport{
    font-size: 25px;

}

