/* General stuff such as no body margin and background color*/
body {
    margin: 0;
    padding: 0;
    background-color: #383961;
}

/* General stuff such as white color and font size */
* {
    color: white;
    font-family: "Roboto Thin", sans-serif!important;
    font-size: 20px;
}

/* a title class useful for big headlines */
.title {
    font-size: 48px;
    border-bottom: 10px solid #FDC601!important;
    width: fit-content!important;
}

/* general button styling */
.button {
    width: 150px;
    height: 50px;
    font-size: 38px;
    background-color: #24A6DE;
    border: none;
    border-radius: 4px;
}

/* styling for img logo */
.logo {
    width: 100px;
    height: 100%;
    margin-inline: 20px;
    object-fit: cover;
}

/* styling for the navbar */
.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #CC7B2B;
    padding: 5px;
    margin-bottom: 25px;
}

.nav-popup {
    position: absolute;
    top: 140px;
    width: unset!important;
    padding: 200px!important;
    border-radius: 50%!important;
    visibility: hidden;
}

.visible {
    visibility: visible!important;
}

.img-link {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: white 1px solid;
    border-radius: 50%;
}

.img-link:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
}


.nav-popup >  a:nth-of-type(1) > .img-link {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 85%;
}
.nav-popup >  a:nth-of-type(2) > .img-link{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
}
.nav-popup >  a:nth-of-type(3) > .img-link{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 15%;
}
.nav-popup >  a:nth-of-type(4) > .img-link{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
}

/* Makes the input field not so ugly */
.input-field {
    margin: 0!important;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

/* styling for the footer */
.footer {
    background-color: #CC7B2B;
    padding: 40px;
    margin-top: 150px;
}

/* general class which contains stuff */
.container {
    margin: 25px;
}

/* used inside the .box-blue element to make a blue field */
.field-blue {
    background-color: #383961;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* used inside the .box-orange element to make a blue field */
.field-orange {
    background-color: #CC7B2B;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* This class serves as purpose to generalise a blue box in which contents should be placed */
.box-blue {
    background-color: #533175;
    box-shadow: -15px -15px #1f265b;
    padding: 20px;
    width: 85%;
}

/* This class serves as purpose to generalise a orange box in which contents should be placed */
.box-orange {
    background-color: #DF8022;
    box-shadow: -10px -10px #B06A24;
    padding: 20px;
    width: 85%;
}

/* used to make a blue background */
.blue-background {
    background-color: #68418E;
}

/* used to make a orange background */
.orange-background {
    background-color: #CC7B2B;
}

/* This class makes text the biggest */
.text-1 {
    font-size: 58px;
}

/* This class makes text 10px smaller than the one above */
.text-2 {
    font-size: 48px;
}

/* This class makes text 10px smaller than the one above */
.text-3 {
    font-size: 38px;
}

/* This class makes text 10px smaller than the one above */
.text-4 {
    font-size: 28px;
}

/* This class makes text the smallest */
.text-5 {
    font-size: 20px;
}

/* This class centers an element to the middle of the screen using margin */
.margin-center {
    margin: 10px auto;
}

/* This class centers an element to the middle of the screen with half its size using margin */
.margin-center-half {
    width: 50%;
    margin: 10px auto;
}

/* This class centers an element to the middle of the screen with a quarter of its size using margin */
.margin-center-quarter {
    width: 25%;
    margin: 10px auto;
}

/* centers an element using flex */
.flex-center {
    display: flex!important;
    justify-content: center;
}

/* centers an element using flex and making it half its size */
.flex-center-half {
    display: flex!important;
    justify-content: center;
    width: 50%;
}

/* centers an element using flex and making it a quarter its size */
.flex-center-quarter {
    display: flex!important;
    justify-content: center;
    width: 25%;
}

/* divides 2 elements with space around them */
.flex-around {
    display: flex;
    justify-content: space-around;
}

/* divides 2 elements with space between them */
.flex-between {
    display: flex;
    justify-content: space-between;
}

/* arranges elements in a column */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* arranges elements in a row */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* Whenever there are too many elements to fit next to another it overflows to the next row/column */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* aligns content in the center vertically(if it isn't flex-direction: column) */
.align-center {
    display: flex;
    align-items: center;
}

/* centers text */
.text-center {
    text-align: center;
}

/* half its size */
.half {
    width: 50%;
}

/* a quarter of its size */
.quarter {
    width: 25%;
}

/* an eight of its size */
.eight {
    width: 12.5%;
}

/* stuff for when shit gets too small */
@media only screen and (max-width: 560px) {

}

/* From here on out these classes are only used in specific scenarios and are meant for specific circumstances only */
/* ---------------------------------------------------------------------------------------------------------------- */
/* Write your own classes here */

/* Translator specific classes */
/* --------------------------- */
/* Translator specific classes */

.space {
    margin-inline: 20px;
}

.sign {
    width: 70px;
    height: 100px;
}

/* End of translator specific classes */
/* ---------------------------------- */
/* End of translator specific classes */

