
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #383961;
}
.over-ons-container{
    position: relative;
    width: 300px;
    height: 600px;
    font-size: 1.5em;
    color: white;
    top: 0;
    left: -250px;
}
.over-ons-container .ons-imgBx{
    position: relative;
    width: 1200px;
    height: 167px;
    overflow: hidden;
    transition: 0.5s;
}
.over-ons-container .ons-imgBx:before{
    content: '';
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 10px;
    border-left: 4px solid #6699CC;
    border-right: 4px solid #fff;
    border-radius: 50%;
    background: #FDC601;
}
.ons-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.over-ons-container .ons-imgBx img{
    position: absolute;
    top: 50px;
    left: 0;
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.login-container{
    position: absolute;
    display: flex;
    top: 0;
    left: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 20px;
    width: 200px;
    justify-content: center;
    text-align: center;
    background: #68418E;
    cursor: pointer;
}

.login-container a{
    text-decoration: none;
    color: #ffffff;
}

.dropbtn {
    background-color: #68418E;
    color: white;
    padding: 10px;
    margin: 40px;
    font-size: 1.5rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #68418E;
    color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(63, 24, 94);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(63, 24, 94);}


.container
{
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.container .icon
{
    position: relative;
    left: -50%;
    top: -1%;
    width: 102%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .icon .imgBx
{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222,
    0 0 0 6px #fff;
    transform: rotate(calc(360deg/4 * var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}
.container .icon .imgBx.active{
    box-shadow: 0 0 0 6px #222,
    0 0 0 12px #FDC601;
}
.container .icon .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/4 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}
.container .icon .imgBx.active img{
    filter: grayscale(0);
}
.content{
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content::before
{
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid #6699CC;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}
@keyframes animate_01
{
    0%
    {
        rotate: 0deg;
    }
    100%
    {
        rotate: 360deg;
    }
}
.content::after
{
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #FDC601;
    border-right: 4px solid #fff;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}
@keyframes animate_02
{
    0%
    {
        rotate: 360deg;
    }
    100%
    {
        rotate: 0deg;
    }
}
.contentBx
{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBx.active
{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}
.contentBx .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.contentBx .card .imgBx1
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.contentBx .card .imgBx1 img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentBx .card .textBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contentBx .card .textBx h2
{
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}
.contentBx .card .textBx h2 span
{
    font-size: 0.65em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}

button {
    --c:  #FDC601; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    color: #fff;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: #000000;
    transition: 0.4s;
}
button:active {
    box-shadow: 0 0 inset #0009;
    background-color: var(--c);
    color: #000000;
}

button {
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    color: #ffffff;
}

button a{
    text-decoration: none;
    color: #ffffff;
}